<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target xsi:type="File"
				name="file"
				fileName="C:/temp/logs/app-${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message} ${exception}" />
	</targets>

	<rules>

		<!-- 1️⃣ IGNORA logs do framework -->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="System.*" minlevel="Trace" final="true" />

		<!-- 2️⃣ LOGA SOMENTE sua aplicação -->
		<logger name="FIAP.CloudGames.*" minlevel="Info" writeTo="file" />

	</rules>

</nlog>
